# Export Sony Swiqi HAL to system_ext so coredomain apps can find it.
type hal_swiqi_service, hal_service_type, protected_service, service_manager_type;